<app-page-header [heading]="'Scheduler On Demand Job'" [icon]="'fa-'"></app-page-header>
<app-modal [(visible)]="success">
  <div id="content">
    <div class="notify successbox">
      <h1>Success!</h1>
      <span class="alerticon"><img src="assets/images/check.png" alt="checkmark" /></span>
      <p>{{popmessage}}</p>
    </div>
  </div>
</app-modal>
<app-modal [(visible)]="error">
  <div id="content">
    <div class="notify errorbox">
      <h1>Error!</h1>
      <span class="alerticon"><img src="assets/images/error.png" alt="error" /></span>
      <p>{{popmessage}}</p>
    </div>
  </div>
</app-modal>
<div class="container">
  <div class="row">
    <div class="col-md-4 field-label-responsive">
      <label for="name">Name:</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-table"></i></div>
          <input type="text" id="schedulerName" [(ngModel)]="schedulerName" class="form-control" readonly placeholder="Input Scheduler Name">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 field-label-responsive">
      <label for="name">Schedule type:</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-table"></i></div>
          <select #schedulerTypeDD class="form-control" name="schedulerTypeDD" id="schedulerTypeDD" 
            disabled>
            <option [value]="1"  selected >One Time</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="pull-left">
        <input type="checkbox" id="enableCkbox" [(ngModel)]="isEnable" ><em>Enable</em>
      </div>
    </div>
  </div>
  <div>
  <br>
  <fieldset>
    <legend>One-time occurrence</legend>
    <div class="row">
      <div class="col-md-1" style="padding-top:33px;">
        <label for="date">Date:</label>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <div class="input-group" style="padding-top:33px;">
            <input class="form-control paddingdate" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="onetimeDate" 
            
            (ngModelChange)="sendDate()" ngbDatepicker #d="ngbDatepicker" required>
            <div class="input-group-addon" (click)="d.toggle()">
              <span class="fa fa-calendar"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1" style="padding-top:33px;">
        <label for="date">Time:</label>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <ngb-timepicker [(ngModel)]="defaultTime" [meridian]="meridian"  (ngModelChange)="sendTime()"></ngb-timepicker>
        </div>
      </div>
      <div class="col-md-5"></div>
      </div>
    </fieldset>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12">
      <textarea [(ngModel)]='finalMessage' rows="2" cols="120"></textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2">
        <button type="submit" (click)="onBack()" class="btn btn-danger">
            <i class="fa fa-angle-double-left " ></i> 
            Back
      </button>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-4">
      <button type="button" (click)="onClose()" class="btn btn-danger">
            Close
      </button>
      <button type="submit" class="btn btn-success" (click)="onSave()"> 
           <i [ngClass]="{'fa fa-spinner fa-spin':flagNext===true}"></i>
            Save </button>
    </div>
  </div>
</div>