<fieldset>
  <legend>Frequency</legend>
  <div class="row">
    <div class="col-md-4 field-label-responsive">
      <label for="name">Occurs:</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-table"></i></div>
          <select  class="form-control" #frequencyDD  name="frequencyDD" id="frequencyDD" (change)="onFrequencyChange($event.target.value)">
                    <option [value]="4" >Daily</option>
                    <option [value]="8" >Weekly</option>
                    <option [value]="16" >Monthly</option>
                  </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="selectedFrequency==4">
    <div class="col-md-4 field-label-responsive">
      <label for="name">Recurs every:</label>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <br>
          <p class="input-group">
            <input type="number" min="1" max="31" [(ngModel)]="daysVal_RecurEvery" (ngModelChange)="onChangeDailyDate($event)" >
            <i>&nbsp;day(s)</i>
          </p>

        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="selectedFrequency==8">
    <div class="col-md-4 field-label-responsive">
      <label for="name">Recurs every:</label>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <br>
          <p class="input-group">
            <input type="number" min="1" max="31" [(ngModel)]="weeksVal_RecurEvery" (ngModelChange)="onChangeWeeklyRecurrenceFactor($event)">
            <i>&nbsp;week(s)</i>
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="row" *ngIf="selectedFrequency==8">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <div class="form-group">

        <label class="checkbox-inline">
                  <input type="checkbox" value="2" (change)="onDayChange($event)">Monday
              </label>
        <label class="checkbox-inline">
                  <input type="checkbox" value="4" (change)="onDayChange($event)">Tuesday
              </label>
        <label class="checkbox-inline" >
                  <input type="checkbox" value="8" (change)="onDayChange($event)">Wednesday
              </label>
        <label class="checkbox-inline">
                  <input type="checkbox" value="16" (change)="onDayChange($event)">Thrusday
              </label>
        <label class="checkbox-inline">
                  <input type="checkbox" value="32" (change)="onDayChange($event)">Friday
              </label>
        <label class="checkbox-inline">
                  <input type="checkbox" value="64" (change)="onDayChange($event)">Saturday
              </label>
        <label class="checkbox-inline">
                  <input type="checkbox" value="1" (change)="onDayChange($event)">Sunday
              </label>
      </div>
    </div>
  </div>
 
    <div class="row" *ngIf="selectedFrequency==16">
      <div class="col-md-4 field-label-responsive">
        <div class="radio">
          <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="day" (change)="RadioChange($event)"> Day
          </label>
        </div>
      </div>
      <div class="col-md-6" [hidden]="flagDay">
        <input type="number" min="1" max="31" [(ngModel)]="day_day"   (ngModelChange)="onDayFreqInterval()">
        <i>of every&nbsp;</i>
        <input type="number" min="1" max="100" [(ngModel)]="day_month"  (ngModelChange)="onDayMonthFreqRecFactor()">
        <i>month(s)</i>
      </div>
    </div>
    <div class="row" *ngIf="selectedFrequency==16">
        <div class="col-md-4 field-label-responsive">
          <div class="radio">
            <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="the" (change)="RadioChange($event)"> The
                  </label>
          </div>
        </div>
        <div class="col-md-8" [hidden]="flagThe">
            <select  #ddMonthlydaypart name="ddMonthlydaypart" id="ddMonthlydaypart"  (change)="onMonthlyChange($event.target.value)">
                <option [value]="1" >first</option>
                <option [value]="2" >second</option>
                <option [value]="4" >third</option>
                <option [value]="8" >fourth</option>
                <option [value]="16" >last</option>
              </select>
              <select  #weekdayDD  name="weekdayDD" id="weekdayDD"  (change)="onWeekDayChange($event.target.value)">
                  <option [value]="2" >Monday</option>
                  <option [value]="3" >Tuesday</option>
                  <option [value]="4" >Wednesday</option>
                  <option [value]="5" >Thrusday</option>
                  <option [value]="6" >Friday</option>
                  <option [value]="7" >Saturday</option>
                  <option [value]="1" >Sunday</option>
                  <option [value]="8" >Day</option>
                  <option [value]="9" >WeekDay</option>
                  <option [value]="10" >Weekend Day</option>
                </select>
                <i>of every&nbsp;</i>
                <input type="number" min="1" max="31" [(ngModel)]="the_month" (ngModelChange)="onMonthChange()">
                <i>month(s)</i>
        </div>
      </div>
 
</fieldset>