<app-page-header [heading]="'ChangePassword'| translate" [icon]="'fa-'"></app-page-header>
<div class="row">
    <div class="col col-xl-3 ">
    </div>
    <div class="col col-xl-6 ">
        <div class="x_panel">           
            <span [(ngModel)]="default" ngDefaultControl *ngIf="!default">
             <p *ngFor="let alert of alerts">
                    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
                </p>
                </span>
            <form (ngSubmit)="onChangepassword(f)" #f="ngForm">
                <fieldset class="form-group">
                    <label class="label label-primary">
                     <b>{{'CP.OPass'|translate}}</b>
                     </label>
                    <input id="oldpass" ngModel name="oldpass" required #oldpass="ngModel" class="form-control" type="password" placeholder="{{'CP.OPass'| translate}}">
                    <span class="help-block text-danger" *ngIf="!oldpass.valid && oldpass.touched">{{'CP.pValMessage'|translate}}</span>
                </fieldset>

                <fieldset class="form-group">
                    <label>  <b>{{'CP.NPass'|translate}}</b></label>
                    <input type="password" id="password" class="form-control" name="password" ngModel name="password" required 
                        placeholder="{{'CP.NPass'| translate}}" reverse="true" #password="ngModel">
                    <span class="help-block text-danger" *ngIf="!password.valid && password.touched && !password.pristine">{{'CP.pValMessage'|translate}}</span>

                </fieldset>
                <fieldset class="form-group">
                    <label>  <b>{{'CP.CPass'|translate}}</b></label>
                    <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" ngModel name="confirmPassword" required
                        validateEqual="password" reverse="false" #confirmPassword="ngModel" placeholder="{{'CP.CPass'| translate}}">
                    <!--<span class="help-block text-danger" *ngIf="!confirmPassword.pristine">"Password mismatch"</span>-->

                </fieldset>
                <button type="reset" class="btn btn-secondary" (click)="onClear()">{{'Reset'|translate}}</button>
                <button type="submit" [disabled]="!f.valid" class="btn btn-success">{{'Submit'|translate}}</button>

            </form>
        </div>

    </div>
</div>