/* .table-sm{
    font-size: 12px;
  } */
  select {
    font-size: 12px;
}
/* 
  .table {
    table-layout: fixed;
    word-wrap: break-word;
}

    .table th, .table td {
        overflow: hidden;
    } */
