fieldset 
{
    border: 1px solid #ddd !important;
    margin: 0;    
    padding: 10px;       
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:10px!important;
}	

    legend
    {
        font-size:14px;
        font-weight:bold;
        margin-bottom: 0px; 
        width: 50%; 
        border: 1px solid #ddd;
        border-radius: 4px; 
        padding: 5px 5px 5px 10px; 
        background-color: #ffffff;
    }
    paddingdate
    {
        padding-top: 33px;
    }
    .x_panel {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px 17px;
        display: inline-block;
        background: #fff;
        border: 1px solid #E6E9ED;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;      
        opacity: 1;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -ms-transition: all .2s ease;
        transition: all .2s ease;
    }
    
    .x_title {
        border-bottom: 2px solid #E6E9ED;
        padding: 1px 5px 6px;
        margin-bottom: 10px;
    }
    
    .x_title .filter {
        width: 40%;
        float: right;
    }
    
    .x_title h2 {
        margin: 5px 0 6px;
        float: left;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    
    .x_title h2 small {
        margin-left: 10px;
    }
    
    .x_title span {
        color: #BDBDBD;
    }
    .odd
    {
        color:red;
        background:  #BDBDBD;
    
    }
    /** notifications **/
    .notify {
      display: block;
      background: #fff;
      padding: 12px 18px;
      max-width: 400px;
      margin: 0 auto;
      cursor: pointer;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-bottom: 20px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
    }
    
    .notify h1 { margin-bottom: 6px; }
    
    .successbox h1 { color: #678361; }
    .errorbox h1 { color: #6f423b; }
    
    .successbox h1:before, .successbox h1:after { background: #cad8a9; }
    .errorbox h1:before, .errorbox h1:after { background: #d6b8b7; }
    
    .notify .alerticon { 
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
    #content {
      display: block;
      width: 100%;
      background: #fff;
      padding: 25px 20px;
      padding-bottom: 35px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }
    h1 {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 2.5em;
      line-height: 1.5em;
      letter-spacing: -0.05em;
      margin-bottom: 20px;
      padding: .1em 0;
      color: #444;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
    }
    h1:before,
    h1:after {
      content: "";
      position: relative;
      display: inline-block;
      width: 50%;
      height: 1px;
      vertical-align: middle;
      background: #f0f0f0;
    }
    h1:before {    
      left: -.5em;
      margin: 0 0 0 -50%;
    }
    h1:after {    
      left: .5em;
      margin: 0 -50% 0 0;
    }
    h1 > span {
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
    }
    
    p {
      display: block;
      font-size: 1.35em;
      line-height: 1.5em;
      margin-bottom: 22px;
    }
    

