<app-page-header [heading]="'View Product '| translate" [icon]="'fa fa fa-suitcase'" ></app-page-header>

<app-modal [(visible)]="dialog">
  <div id="content">
    <div  *ngIf ="success" class="notify successbox">
      <h1>Success!</h1>
      <span class="alerticon"><img src="assets/images/check.png" alt="checkmark" /></span>
      <p>{{popmessage}}</p>
       <button type="submit"(click)="Ok()" class="btn btn-success">OK</button>
    </div>
    <div  *ngIf ="!success==true" class="notify errorbox">
      <h1>Error!</h1>
      <span class="alerticon"><img src="assets/images/error.png" alt="error" /></span>
      <p>{{popmessage}}</p>
    </div>
  </div>
</app-modal>
<div class="row">
    <div class="col col-xl-2">
    </div>
    <div class="col col-xl-8">
        <div class="x_panel">
            <div class="card mb-3">
                <div class="card-header">
                        
                        Configuration Summary
                    
                </div>
                <div style="height: 400px">
                    <span *ngIf="showtree"><i class="fa fa-spinner fa-spin fa-2x " aria-hidden="true"></i></span>
                    <!--<tree-root [nodes]="nodes"  [focused]="true"></tree-root>-->
                    {{message}}
                    <tree-root [nodes]="nodes" >
                        <ng-template #treeNodeTemplate let-node let-index="index">
                            <span *ngIf="!node.data.primarykey">{{ node.data.name }}</span>

                            <span *ngIf="node.data.primarykey" style="color:red"><i class="fa fa-key" aria-hidden="true"></i>{{ node.data.name }} [PK]</span>

                        </ng-template>
                    </tree-root>
                </div>
                <div class="card-footer">  
            <button class="btn btn-error" (click)="onBack()" [disabled]="ToggleBack">Back</button>
            <button class="btn btn-success " (click)="onCommit()" [disabled]="ToggleButton">
                    <i [ngClass]="{'fa fa-spinner fa-spin':save===true}"></i>
                Save Product Table mappings </button>
                    <button class="btn btn-danger" (click)="onCancel()" [disabled]="ToggleCancel">
                    
                Cancel </button>
        </div>

            </div>
        </div>
    </div>
</div>