<app-page-header [heading]="'Add Product '| translate" [icon]="'fa fa fa-suitcase'"></app-page-header>
<app-modal [(visible)]="success">
  <div id="content">
    <div class="notify successbox">
      <h1>Success!</h1>
      <span class="alerticon"><img src="assets/images/check.png" alt="checkmark" /></span>
      <p>{{popmessage}}</p>
    </div>
  </div>
</app-modal>
<app-modal [(visible)]="error">
  <div id="content">
    <div class="notify errorbox">
      <h1>Error!</h1>
      <span class="alerticon"><img src="assets/images/error.png" alt="error" /></span>
      <p>{{popmessage}}</p>
    </div>
  </div>
</app-modal>
<div id="wizard" class="form_wizard wizard_horizontal">
  <ul class="wizard_steps">
    <li>
      <a [routerLink]="['/create-product']" class="selected">
                                        <span class="step_no">1</span>
                                        <span class="step_descr">
                                            Modify Product<br />
                                            <b><small>Active</small></b>
                                        </span>
                                    </a>
    </li>
    <li>
      <a [routerLink]="['/property-manager']" onclick="return false;">
                                        <span class="step_no">2</span>
                                        <span class="step_descr">
                                            Select Table<br />
                                            <!--<small>Active</small>-->
                                        </span>
                                    </a>
    </li>
    <li>
      <a href="#step-3" onclick="return false;">
                                        <span class="step_no">3</span>
                                        <span class="step_descr">
                                            Create New Product<br />
                                            <!--<small>Step 3 description</small>-->
                                        </span>
                                    </a>
    </li>
    <li>
      <a href="#step-4" onclick="return false;">
                                        <span class="step_no">4</span>
                                        <span class="step_descr">
                                           Save Product<br />
                                            <!--<small>Step 4 description</small>-->
                                        </span>
                                    </a>
    </li>

  </ul>
  <div class="row">
    <!-- <div class="col col-xl-3">
    </div> -->
    <div class="col  col-lg-12">
      <div class="x_panel">
        <div class="card mb-3">
          <div class="card-header">Modify Product
          </div>
          <div class="card-block table-responsive">
            <table class="table table-sm">
              <tbody>
                <tr>
                  <td>
                    <b><em>Property Group</em></b>
                  </td>
                  <td>
                   <input type="text"  class="form-control"
                        [(ngModel)]="showPropertyGroup" [disabled]=true>

                  </td>
                  <td>
                    
                  </td>
                </tr>
                <tr>
                  <td>
                    <b><em>Property</em></b>
                  </td>
                  <td>
                     <input type="text"  class="form-control"
                        [(ngModel)]="showProperty" [disabled]=true>
                  </td>
                  <td>
                   
                  </td>
                </tr>
                <tr>
                  <td>
                    <b><em>Product Name</em></b>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="text" (keypress)="_keyPress($event)" id="pname" class="form-control" placeholder="{{'Product Name'| translate}}"
                        [(ngModel)]="selectPropertyName" required #property="ngModel" [maxLength]="textareaLength">
                      <span class="help-block" style="color:red" *ngIf="!property.valid && property.touched">{{'Please enter value in textbox'| translate}}</span>
                    </div>

                  </td>
                  <td>

                  </td>
                  <tr>
                    <td>
                      <b><em>Active</em></b>
                    </td>
                    <td>
                      <input #cbproperty type="checkbox" #i checked name="{{isChecked}}" [(ngModel)]="isChecked" (change)="logCheckbox(cbproperty)">
                      <!--[(ngModel)]="Pactive" -->
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                   
                    <td colspan="3">
                      <button type="submit" (click)="onEditSave()" class="btn btn-success">
                      <i [ngClass]="{'fa fa-spinner fa-spin':save===true}"></i>
                       Save</button>
                        <button type="submit" (click)="onCancle()" class="btn btn-danger">
                        Cancel</button>
                        <button type="submit" (click)="onViewSummary()" class="btn btn-info">
                     
                        View Summary </button>
                        <button type="submit" (click)="onAddTable()" class="btn btn-primary">
                         
                       	Add table(s)</button>
                    </td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col col-xl-3">
    </div> -->
  </div>
</div>