/* You can add global styles to this file, and also import other style files */
body {
    font-family: "SF Text", Roboto, arial, sans-serif, calibri !important;
    font-size: .875rem !important;
}
h4,.h4{
    font-size: 1.1rem;
}
.form-control 
{
    font-size: .875rem !important;
}
.btn{
    font-size: .775rem !important;
}