<app-page-header [heading]="'Job History Detail'| translate" [icon]="'fa-wrench'"></app-page-header>
<div class="form-horizontal" >
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="name">Property Group</label>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <select #selectPG class="form-control" (change)="onChangePG(selectPG.value)">
            <option [value]="0" >Select Property Group</option>
            <option *ngFor="let pg of propertygroup" 
              [value]="pg.ID">
              {{ pg.Name }}
            </option>
          </select>
          <span *ngIf="showpropertygroup"><i class="fa fa-spinner fa-spin fa-2x " aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 field-label-responsive">
        <label for="name">Job Name</label>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <select #selectJob class="form-control" (change)="onChangeJob(selectJob.value)"  [ngModel]="resetjob">
            <option [value]="'0'" >Select Job</option>
            <option *ngFor="let jbl of jobList" 
              [value]="jbl.JobNameWithoutID" 
              [selected]="jbl.JobNameWithoutID == 'resetjob'">
              {{ jbl.JobNameWithoutID }}
            </option>
          </select>
          <span *ngIf="showjob"><i class="fa fa-spinner fa-spin fa-2x " aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="name">Property</label>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <select #selectProperty class="form-control" (change)="onChangeProperty(selectProperty.value)">
            <option [value]="0" >Select Property</option>
              <option *ngFor="let p of propertyList" 
                  [value]="p.ID"
                    [selected]="p.ID == 0">
                  {{ p.Name }}
                </option>
              </select>
          <span *ngIf="showproperty"><i class="fa fa-spinner fa-spin fa-2x " aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 field-label-responsive">
        <label for="name">Job ID</label>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input type="number" min="0" class="form-control" #jobID placeholder="Job ID" [value]="jobIDVal" (input)="onJobIDTyping($event.target.value)">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="name">Product</label>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <select #selectProduct class="form-control" (change)="onChangeProduct(selectProduct.value)">
            <option [value]="0" >Select Product</option>
            <option *ngFor="let prd of productList" 
                [value]="prd.ID">
                {{ prd.Name }}
            </option>
          </select>
          <span *ngIf="showproduct"><i class="fa fa-spinner fa-spin fa-2x " aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 field-label-responsive">
        <label for="name">Job Run ID</label>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input type="number" min="0" class="form-control" #jobRunID placeholder="Job Run ID">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="name">Source Table</label>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <select #selectSource class="form-control" (change)="onChangeSource(selectSource.value)" [ngModel]="resetSor">
            <option [value]="'0'" >Select Source</option>
            <option *ngFor="let sorl of sourceTableList" 
                [value]="sorl.ExtractControlTableName"
                  [selected]="sorl.ExtractControlTableName == 'resetSor'">
                {{ sorl.ExtractControlTableName }}
            </option>
          </select>
          <span *ngIf="showsource"><i class="fa fa-spinner fa-spin fa-2x " aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 field-label-responsive">
        <label for="name">Source Search</label>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input type="text" class="form-control" #sorSearch placeholder="Source Table" [value]="sorval" (input)="onSorTyping($event.target.value)">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="name">Destination Table</label>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <select #selectDest class="form-control" (change)="onChangeDest(selectDest.value)" [ngModel]="resetDest">
            <option [value]="'0'" >Select Destination</option>
            <option *ngFor="let desl of destTableList" 
                [value]="desl.ExtractControlTableName"
                  [selected]="desl.ExtractControlTableName == 'resetDest'">
                {{ desl.ExtractControlTableName }}
            </option>
          </select>
          <span *ngIf="showdest"><i class="fa fa-spinner fa-spin fa-2x " aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 field-label-responsive">
        <label for="name">Destination Search</label>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <input type="text" class="form-control" #destSearch placeholder="Destination Table" [value]="destval" (input)="onDestTyping($event.target.value)">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive paddingdate">
      <label for="name">Start Date</label>
    </div>
    <div class="col-md-3  paddingdate">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="startDate" 
            (ngModelChange)="sendStartDate()" ngbDatepicker #ds="ngbDatepicker" required (click)="ds.toggle()">
            <div class="input-group-addon" (click)="ds.toggle()">
              <span class="fa fa-calendar"></span>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 field-label-responsive paddingdate">
      <label for="name">Start Time</label>
    </div>
    <div class="col-md-3">
      <div class="form-group">
            <ngb-timepicker [(ngModel)]="startTime" [meridian]="meridian"  (ngModelChange)="sendStartTime()"></ngb-timepicker>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive paddingdate">
      <label for="name">End Date</label>
    </div>
    <div class="col-md-3  paddingdate">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="endDate" 
            (ngModelChange)="sendEndDate()" ngbDatepicker #de="ngbDatepicker" required (click)="de.toggle()">
            <div class="input-group-addon" (click)="de.toggle()">
              <span class="fa fa-calendar"></span>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 field-label-responsive paddingdate">
      <label for="name">End Time</label>
    </div>
    <div class="col-md-3">
      <div class="form-group">
            <ngb-timepicker [(ngModel)]="endTime" [meridian]="meridian"  (ngModelChange)="sendEndTime()"></ngb-timepicker>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="name">Records per page</label>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <select #selectRecordsPerPage class="form-control">
            <option [value]="5" >5</option>
            <option [value]="10" >10</option>
            <option [value]="20" >20</option>
            <option [value]="30" >30</option>
            <option [value]="40" >40</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-3 field-label-responsive">
      <label for="name">&nbsp;</label>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <button class="btn btn-primary" (click)="onSearch('search')">
              <i [ngClass]="{'fa fa-spinner fa-spin':flagSearch===true}">&nbsp;</i><i class="fa fa-search"></i>&nbsp;Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class="col-md-1 field-label-responsive">
    </div>
    <div class="col-md-10 field-label-responsive  boder-bottom">
      &nbsp;
    </div>
    <div class="col-md-1 field-label-responsive">
    </div>
  </div>
  <br/>
  <div class="row" *ngIf="showHistory">
    <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-block table-responsive">
          <div class="panel-body">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th style="width:100px !important; ">Job Run ID</th>
                    <th>Item ID</th>
                    <th>Job Name (Job ID)</th>
                    <th>Property Group</th>
                    <th>Property</th>
                    <th>Product</th>
                    <th>Status</th>
                    <th>Source Table</th>
                    <th>Destination Table</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Inserted</th>
                    <th>Updated</th>
                  </tr>
                </thead>
                <tbody *ngFor="let jobhist of jobHistList">
                  <tr>
                    <td>{{jobhist.ExtractJobHistID}}</td>
                    <td>{{jobhist.JobQueueHistDetail.HistID}}</td>
                    <td>{{jobhist.JobName}} ({{jobhist.JobID}})</td> 
                    <td>{{jobhist.PropertyGroupName}}</td>
                    <td>{{jobhist.PropertyName}}</td>
                    <td>{{jobhist.ProductName}}</td>   
                    <td [ngClass]="{'green' : jobhist.Status=='Completed', 'blue' : jobhist.Status=='Running', 'yellow' : jobhist.Status=='Waiting','red': jobhist.Status=='Ended' || jobhist.Status=='Failed'}"
                    (click)="onExpand(jobhist.JobQueueHistDetail.HistID)" class=" message">
                      {{jobhist.Status}}
                    </td>
                    <td>{{jobhist.JobQueueHistDetail.SourceTableName}}</td>  
                    <td>{{jobhist.JobQueueHistDetail.DestinationTableName}}</td>  
                    <td>{{jobhist.StartTime}}</td>  
                    <td class="text-center">{{jobhist.EndTime}}</td>  
                    <td>{{jobhist.JobQueueHistDetail.Inserted}}</td>
                    <td>{{jobhist.JobQueueHistDetail.Updated}}</td>
                  </tr>
                  <tr  *ngIf="showMessage==jobhist.JobQueueHistDetail.HistID">
                    <td colspan="13" class="red font-weight-bold">
                      {{jobhist.JobQueueHistDetail.Message}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="showHistory">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <button class="btn default" [disabled]="preBtn" (click)="onPreRecord()">&#8249;</button>
        <button class="btn btn-primary">{{pageNumber}}</button>
        <button class="btn default"  [disabled]="nxtBtn"  (click)="onNextRecord()" >&#8250;</button>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div> 